<configuration>
  <appSettings>
    <add key="Server.DebugLevel" value="0" />
    <add key="Server.LogFile" value = "/home/USERNAME/log/Server.log"/>
    <add key="Server.PathTemp" value="/home/USERNAME/tmp" />

    <add key="Server.RDBMSType" value="Postgresql" />
    <add key="Server.DBHostOrFile" value = "OPENPETRA_DBHOST" />
    <add key="Server.DBPort" value = "OPENPETRA_DBPORT" />
    <add key="Server.DBName" value = "OPENPETRA_DBNAME"/>
    <add key="Server.DBUserName" value = "OPENPETRA_DBUSER"/>
    <add key="Server.DBPassword" value="PG_OPENPETRA_DBPWD" />

    <add key="ApplicationDirectory" value="/usr/local/openpetraorg/bin30" />
    <add key="Reporting.PathStandardReports" value="../reports30" />
    <add key="Reporting.PathCustomReports" value="../custom30" />
    <add key="SqlFiles.Path" value="../sql30" />
    <add key="Formletters.Path" value="../formletters30"/>

    <add key="Server.ClientIdleStatusAfterXMinutes" value="5" />
    <add key="Server.ClientKeepAliveCheckIntervalInSeconds" value="20" />
    <add key="Server.ClientKeepAliveTimeoutAfterXSeconds_LAN" value="60" />
    <add key="Server.ClientKeepAliveTimeoutAfterXSeconds_Remote" value="120" />
    <add key="Server.ClientConnectionTimeoutAfterXSeconds" value="20" />
    <add key="Server.ClientAppDomainShutdownAfterKeepAliveTimeout" value="true" />

    <add key="LocalFieldFinance.EmailAddress" value="${LocalFieldFinance.EmailAddress}"/>

    <add key="Server.Processing.PartnerReminders.Enabled" value="true" />
    <add key="Server.Processing.DataChecks.Enabled" value="false" />
    <add key="DataChecks.TempPath" value="../../log" />
    <add key="DataChecks.RunEveryXDays" value="3" />
    <add key="DataChecks.Email.Recipient" value="${LocalFieldFinance.EmailAddress}" />
    <add key="DataChecks.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="Reports.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpPort" value="${smtp.port}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>
    <add key="IntranetServerEmail" value="${intranet.email}"/>

   </appSettings>

  <system.web>
    <sessionState
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <compilation tempDirectory="/home/USERNAME/tmp" debug="true" strict="false" explicit="true"/>
  </system.web>

</configuration>
