<configuration>
  <appSettings>
    <add key="Server.DebugLevel" value="0" />
    <add key="Server.LogFile" value = "/home/USERNAME/log/Server.log"/>
    <add key="Server.PathTemp" value="/home/USERNAME/tmp" />

    <add key="Server.RDBMSType" value="Postgresql" />
    <add key="Server.DBHostOrFile" value = "OPENPETRA_DBHOST" />
    <add key="Server.DBPort" value = "OPENPETRA_DBPORT" />
    <add key="Server.DBName" value = "OPENPETRA_DBNAME"/>
    <add key="Server.DBUserName" value = "OPENPETRA_DBUSER"/>
    <add key="Server.DBPassword" value="PG_OPENPETRA_DBPWD" />

    <add key="ApplicationDirectory" value="/usr/local/openpetraorg/bin30" />
    <add key="Reporting.PathStandardReports" value="../reports30" />
    <add key="Reporting.PathCustomReports" value="../custom30" />
    <add key="SqlFiles.Path" value="../sql30" />
    <add key="Formletters.Path" value="../formletters30"/>
  </appSettings>

  <system.web>
    <sessionState
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <compilation tempDirectory="/home/USERNAME/tmp" debug="true" strict="false" explicit="true"/>
  </system.web>

</configuration>
